body {
    background-color: lightblue;
    margin-left: 20px;
  }
  h2{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
  }
  h1 {
    color: rgb(163, 39, 107);
    text-align: center;
  }
  p.right {
    text-shadow: 0pc;
    color:rgb(12, 187, 187)
  }
  p1 {
   
    font-size: 600 px;
    color: rgba(31, 87, 192, 0.664);
     text-align: center;
  }
  p2{
    background-image: url("bgdesert.jpg");
  }
