body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
    border-style: solid;
    border-width: thin
  }
  h3{
    color:rgb(75, 202, 25);
  }
   p {
    color: red;
    font-family: courier;
    font-size: 160%;
    border: 2px solid brown;
    margin: 50px;
  }